---
layout: muban
css: ["css/head.css","css/zhuti.css","css/style.css","css/public.css"]
sosuo: true
---

<div class="head">
	<div class="head_img">
		<div></div>
	</div>
	<div class="head_text">
		<img class="me_img donghua" src="{{ site.baseurl }}img/logo.jpg">
		<div class="donghua" style="font-size: 42px;animation-delay:0.4s;">你 好, 我 叫 张 梓 涛</div>
		<div class="donghua" style="font-size: 24px;font-weight: 100;margin:1% auto;animation-delay:0.8s;">欢迎你来到我的博客</div>
	</div>
</div>

<div class="row-md-12" style="margin-top:50px;padding:0 3%;" >

	<div class="col-md-3">
		{% include leibiao.html %}		
	</div>

	<div class="col-md-9">
		{% for tag in site.tags %}
      	<div style="display: none;" id="{{tag[0]}}">
      		<h1>{{ tag[0] }}</h1>
			{% for post in tag[1] %}
				<a href="{{ site.baseurl }}{{ post.url }}">
					<div  class="wenzhang">
						<h4>{{post.title}}</h4>
						<p>{{ post.xiao_title }}</p>	
						<p class="time">{{ post.date | truncate:10,"" }}</p>
					</div>
				</a>
			{% endfor %}
		</div>
		{% endfor %}

	</div>
</div>


