---
layout: muban
---
	
<div class="row-md-12" style="padding:0 3%;margin-top:100px;" >
	<div class="col-md-3">
		{% include leibiao.html %}
	</div>
	<div class="col-md-9" style="background-color: #f6f6f6;border-radius: 8px;padding-top:1px;">
		{{content}}
		<div style="width:100%;height:30px;margin-top:50px;">
			{% if page.previous != nil  %}
				<a style="float:left;" href="{{ site.baseurl }}{{ page.previous.url }}">上一篇：{{ page.previous.title | truncate:9 }}</a>
			{% else %}
				<a style="float:left;" href="{{ site.baseurl }}">回到首页</a>
			{% endif %}
			{% if page.next != nil %}
				<a style="float:right;" href="{{ site.baseurl }}{{ page.next.url }}">下一篇：{{ page.next.title | truncate:9 }}</a>
				{% else %}
				<a style="float:right;" href="{{ site.baseurl }}">回到首页</a>
			{% endif %}
		</div>
	</div>

</div>